<html>
    <head>
        <title>Overview</title>
        <link rel="stylesheet" href="../static/css/signup.css">
    </head>
    <body>
        <div class="container">

            <form id="addbook">

                <div class="header">
                
                    <h3>Add My Book</h3>
                    
                    <p>Enter the ISBN of the book</p>
                    
                </div>
                
                <div class="sep"></div>

                <div class="inputs">
                    <form action="#" method="get">
                        <input type="isbn" placeholder="isbn" name="isbn" autofocus />
                    
                        <input type="submit" class="addBook" value="Add Book" name="addBook">                       
                    </form>
                </div>
            </form>
        </div>
    </body>
</html>
​