<html>
    <head>
        <title>Overview</title>
        <link rel="stylesheet" href="../static/css/signup.css">
    </head>
    <body>
        <div class="container">

            <form id="signup">

                <div class="header">
                
                    <h3>Sign In</h3>
                    
                    <p>You want to fill out this form</p>
                    
                </div>
                
                <div class="sep"></div>

                <div class="inputs">
                    <form action="#" method="get">
                        <input type="email" placeholder="e-mail" name="email" autofocus />
                    
                        <input type="password" placeholder="Password" name="password"/>

                        <input type="submit" class="btn" value="Sign Up" name="signin">
                    </form>
                </div>
            </form>
        </div>
    </body>
</html>
​